extends layout

block favicon
  link(rel="shortcut icon" href="/red-favicon.png?v=1" type="image/x-icon")

block navigator
  .grid12_12
      a.crump(href="/")= __("toIndex")
      a.crump(href="/admin")= __("adminDashboard")

block content
  .grid12_12
    div= __("saveChangesSuccessful")
    div= __("saveChangesInfo", albumsRemoved, photosRecovery)
    div
      a.body-font(href="/admin/manageAlbums/cancel/#{rev}")= __("cancelQuestion")
    div.subheader
      a.subhead-font(href="/admin/manageAlbums")= __("continueManageAlbums")
