extends layout


block styles
  link(rel="stylesheet" href="/treeview/angular.treeview.css" type="text/css")
block scripts
  script(type="text/javascript" src="/core/angular.min.js")
  script(type="text/javascript" src="/core/underscore.min.js")
  script(type="text/javascript" src="/core/underscore.mixins.js")
  script(type="text/javascript" src="/treeview/angular.treeview.js")
  script(type="text/javascript" src="/admin/albumTreeApp.js")

block favicon
  link(rel="shortcut icon" href="/red-favicon.png?v=1" type="image/x-icon")

block navigator
  .grid12_12
    a.crump(href="/")= __("toIndex")
    a.crump(href="/admin")= __("adminDashboard")

block content
  - var newFolderLabel = __("newFolder")
  - var newAlbumLabel = __("newAlbum")

  div(ng-app="albumTreeApp"): div(ng-controller="treeController"
    ng-init="albumTree=#{JSON.stringify(albumTree)}; newAlbumLabel='#{newAlbumLabel}'; newFolderLabel='#{newFolderLabel}'")
    .grid12_4
      div
        button.flat-button(ng-disabled="albums.currentNode.isLeaf" ng-click="addAlbum()")= __("addAlbum")
      div
        button.flat-button(ng-disabled="albums.currentNode.isLeaf" ng-click="addFolder()")= __("addFolder")
      div
        button.flat-button(ng-disabled="!albums.currentNode" ng-click="rename()")= __("rename")
      div
        button.flat-button(ng-disabled="!albums.currentNode" ng-click="remove()")= __("remove")
      div
        span.action-icon-up(ng-disabled="!albums.currentNode" ng-click="moveUp()")
        span.action-icon-down(ng-disabled="!albums.currentNode" ng-click="moveDown()")
        span.action-icon-left(ng-disabled="!albums.currentNode" ng-click="moveLeft()")
        span.action-icon-right(ng-disabled="!albums.currentNode" ng-click="moveRight()")
      .subheader
        button.primary-button(ng-click="saveChanges()")= __("saveChanges")
        a.flat-button(href="/admin")= __("cancel")

    .grid12_8
        div(data-angular-treeview="true" data-tree-id="albums" data-tree-model="albumTree")
