extends layout

block favicon
  link(rel="shortcut icon" href="/red-favicon.png?v=1" type="image/x-icon")

block navigator
  .navigation
    .crump
      a(href="/")= __("toIndex")
    +separator
    .crump
      a(href="/admin")= __("adminDashboard")

block content
  .grid12_12
    div= __("saveChangesSuccessful")
    div= __("saveChangesInfo", albumsRemoved, photosRecovery)
    .link
      a(href="/admin/manageAlbums/cancel/#{rev}")= __("cancelQuestion")
    .largeLink
      a(href="/admin/manageAlbums")= __("continueManageAlbums")
