extends layout

block favicon
  link(rel="shortcut icon" href="/red-favicon.png?v=1" type="image/x-icon")

block navigator
  .grid12_12
      a.crump(href="/")= __("toIndex")
      a.crump(href="/admin")= __("adminDashboard")

block content
  .grid12_12
    div= __("saveChangesSuccessful")
    if (photosRecovery > 0)
      div= __("saveChangesInfo", albumsRemoved, photosRecovery)
    div
      a.primary-body-font(href="/admin/manageAlbums/cancel/#{rev}")= __("cancelQuestion")
    div
      a.flat-button(href="/admin/manageAlbums")= __("continueManageAlbums")
